<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>租借统计</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="" class="theme"/>
    <script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.0.js"></script>
	<script type="text/javascript" src="../../script/common.js"></script>
	<script>
		 getTheme();
	</script>
    <style>
    	.snavBox{font-size: 0.75rem;position:fixed;width:100%;top:0.25rem; z-index: 11;}
    	.snav{margin:0.3rem 0.6rem;display:flex;background:white;border-radius:5px;box-shadow:0 0 8px #DDD;color:#999;overflow: hidden;}
    	.snavBar{flex:1;text-align:center;line-height:2.2rem;}

    	.list{padding:0.6rem;margin-top:0.6rem;}
    	.list ul li{display: inline-block;float:left;width:48%;text-align:center;border-radius:5px;padding:1.2rem 0;color:white;margin-bottom:0.6rem;}
    	.list ul li:nth-child(2n){float:right;}
    	.itemTitle{font-size:0.8rem;}
    	.itemContent{font-size:1.1rem;margin-top:0.2rem;}

    	#chart{margin:0 0.6rem;border-radius:5px;overflow: hidden;box-shadow: 0 0 8px #DDD;}
        .highcharts-credits,.highcharts-legend {display:none;}
        .highcharts-container {height:200px !important;}
			.white {
				color: white;
			}
    </style>
</head>
<body>
	<div class="main" id="view" v-cloak>
		<!-- <div class="snavBox">
			<div class="snav">
				<div class="snavBar appBg white">{{txt.device.title1}}</div>
			</div>
		</div> -->

		<div class="list clearfix" v-if="showJg">
			<ul>
				<li style="background:#9571DB;" tapmode="hover" v-if="data0.order_total >= 0">
					<p class="itemTitle">{{txt.count.dindanzongshu}}</p>
					<p class="itemContent">{{data0.order_total}}{{txt.symbol.dan}}</p>
				</li>
				<li style="background:#42bfc7;" tapmode="hover" v-if="data1.device_total >= 0">
					<p class="itemTitle">{{txt.count.shebeizongshu}}</p>
					<p class="itemContent">{{data1.device_total}}{{txt.symbol.tai}}</p>
				</li>

				<li style="background:#fba456;" tapmode="hover" v-if="data2.device_total >= 0">
					<p class="itemTitle">{{txt.count.yiwangchengdindan}}</p>
					<p class="itemContent">{{data2.device_total}}{{txt.symbol.dan}}</p>
				</li>
				<li style="background: #9AD4C8;" tapmode="hover" v-if="data3.zujieOrder >= 0">
					<p class="itemTitle">{{txt.count.zujiezhongdindan}}</p>
					<p class="itemContent">{{data3.zujieOrder}}{{txt.symbol.dan}}</p>
				</li>
				<li style="background: #dac722;" tapmode="hover" v-if="data4.online_device >= 0">
					<p class="itemTitle">{{txt.count.zaixianshebei}}</p>
					<p class="itemContent">{{data4.online_device}}{{txt.symbol.tai}}</p>
				</li>
				<li style="background: #D9BFDA;" tapmode="hover" v-if="data5.unbound_device >= 0">
					<p class="itemTitle">{{txt.count.weibangdinshebei}}</p>
					<p class="itemContent">{{data5.unbound_device}}{{txt.symbol.tai}}</p>
				</li>
			</ul>
		</div>

		<div class="list clearfix" v-if="!showJg">
			<ul>
				<li style="background:#9571DB;" tapmode="hover" v-if="data7.order_total">
					<p class="itemTitle">{{txt.count.dindanzongshu}}</p>
					<p class="itemContent">{{data7.order_total}}{{txt.symbol.dan}}</p>
				</li>
				<li style="background:#42bfc7;" tapmode="hover" v-if="data8.device_total">
					<p class="itemTitle">{{txt.count.shebeizongshu}}</p>
					<p class="itemContent">{{data8.device_total}}{{txt.symbol.tiao}}</p>
				</li>

				<li style="background:#fba456;" tapmode="hover" v-if="data9.finish_order">
					<p class="itemTitle">{{txt.count.yiwangchengdindan}}</p>
					<p class="itemContent">{{data9.finish_order}}{{txt.symbol.dan}}</p>
				</li>
				<li style="background: #9AD4C8;" tapmode="hover" v-if="data10.zujie_order">
					<p class="itemTitle">{{txt.count.zujiezhongdindan}}</p>
					<p class="itemContent">{{data10.zujie_order}}{{txt.symbol.dan}}</p>
				</li>
				<li style="background: #dac722;" tapmode="hover" v-if="false && data11.waitAudit_device">
					<p class="itemTitle">{{txt.count.daishenheshebei}}</p>
					<p class="itemContent">{{data11.waitAudit_device}}{{txt.symbol.tiao}}</p>
				</li>
				<li style="background: #D9BFDA;" tapmode="hover" v-if="data12.unbound_device">
					<p class="itemTitle">{{txt.count.weibangdinshebei}}</p>
					<p class="itemContent">{{data12.unbound_device}}{{txt.symbol.tiao}}</p>
				</li>
			</ul>
		</div>

		<div id="chart">

		</div>
	</div>
</body>
<script type="text/javascript" src="../../script/vue.min.js"></script><script type="text/javascript" src="../../script/fastclick.js"></script>
<script type="text/javascript" src="../../script/myJq.js"></script>
<script type="text/javascript" src="../../script/highcharts.js"></script>
<script type="text/javascript">
	apiready = function(){
		var x = 0;
		var tt = 0;

		var chartX = [];
		var chartY = [];
		var app = new Vue({
			el:"#view",
			data:{
				actArr:["appagent/OrderController/deviceOrderTotal", "appagent/OrderController/deviceDeviceTotal", "appagent/OrderController/deviceFinishOrder",
						"appagent/OrderController/deviceZujieOrder", "appagent/OrderController/deviceOnlineDevice", "appagent/OrderController/deviceUnboundDevice",
						"appagent/OrderController/device7day"
				],
				actArr1:["appagent/OrderController/deviceXianOrderTotal", "appagent/OrderController/deviceXianDeviceTotal",
						"appagent/OrderController/deviceXianFinishOrder", "appagent/OrderController/deviceXianZujieOrder",
						"appagent/OrderController/deviceXianWaitAuditDevice", "appagent/OrderController/deviceXianUnboundDevice", "appagent/OrderController/deviceXian7day"
				],
				data0:{},
				data1:{},
				data2:{},
				data3:{},
				data4:{},
				data5:{},
				data6:{},

				data7:{},
				data8:{},
				data9:{},
				data10:{},
				data11:{},
				data12:{},
				data13:{},
				showJg: true,
				txt: $api.getLanguage()
			},
			mounted() {
				FastClick.attach(document.body);
				that = this;
				this.getData(that.actArr[x]);
				api.addEventListener({
			        name:'chooseColor'
		        },function(ret,err){
		        	$(".theme").attr("href","");
		        	$(".theme").attr("href","../../css/"+ret.value+".css");
		        });

				api.addEventListener({
					name: 'changeLanguage'
				}, function (ret, err) {
					that.txt = $api.getLanguage();
				});

        $(".snavBar").each(function(){
        	$(this).click(function(){
        		$(this).addClass("appBg white").siblings().removeClass("appBg white");
        		tt = $(this).index();

        		if(tt == 0){
        			that.showJg = true;
        			that.getData(that.actArr[x]);
        		}else{
        			that.showJg = false;
        			that.getData1(that.actArr1[x]);
        		}
        	});
        })

        myPullDown(function(){
        	if(tt == 0){
						that.getData(that.actArr[x]);
					}else{
						that.getData1(that.actArr1[x]);
					}
				});
			},
			methods:{
				//机柜
				getData:function(act){
					api.showProgress({
							title: '',
							text: 'Loading...',
							modal: true
					});
					postAjax3(act,{},function(ret){
						if(ret.code == 1){
							if(x == 0){
								that.data0 = ret.data;
							}else if(x == 1){
								that.data1 = ret.data;
							}else if(x == 2){
								that.data2 = ret.data;
							}else if(x == 3){
								that.data3 = ret.data;
							}else if(x == 4){
								that.data4 = ret.data;
							}else if(x == 5){
								that.data5 = ret.data;
							}else if(x == 6){
								var newchartY = [];
								if (ret.data.order_7day) {
									chartX = ret.data.order_7day.split(',');
								}
								if (ret.data.order_count) {
									chartY = ret.data.order_count;
								}

								setTimeout(function () {
									chartY.forEach(item => {
										newchartY.push(parseInt(item))
									})
								}, 100)
								setTimeout(function () {
									drawChart(chartX,newchartY);
									api.hideProgress();
								}, 200)
							};
							x++;
							if(x >= that.actArr.length){
								x = 0;
								return false;
							};
							that.getData(that.actArr[x]);
						};
						api.refreshHeaderLoadDone();
					})
				},
//				密码线
				getData1:function(act){
					api.showProgress({
							title: '',
							text: 'Loading...',
							modal: true
					});
					postAjax3(act,{},function(ret){
						if(ret.code == 1){
							if(x == 0){
								that.data7 = ret;
							}else if(x == 1){
								that.data8 = ret;
							}else if(x == 2){
								that.data9 = ret;
							}else if(x == 3){
								that.data10 = ret;
							}else if(x == 4){
								that.data11 = ret;
							}else if(x == 5){
								that.data12 = ret;
							}else if(x == 6){
								var newchartY = [];
								if (ret.order_7day) {
									chartX = ret.order_7day.split(',');
								}
								if (ret.order_count) {
									chartY = ret.order_count.split(',');
								}

								setTimeout(function () {
									if (chartY) {
										chartY.forEach(item => {
											newchartY.push(parseInt(item))
										})
									}
								}, 100)
								setTimeout(function () {
									drawChart(chartX, newchartY);
									api.hideProgress();
								}, 200)
							};
							x++;
							if(x >= that.actArr1.length){
								x = 0;
								return false;
							};
							that.getData1(that.actArr1[x]);
						};
						api.refreshHeaderLoadDone();
					})
				},
			}
		});
	};

	function drawChart(xz,yz){
		var winwidth = $("#chart").width();
		var chart = Highcharts.chart('chart', {
			chart: {
				type: 'line'
			},
			title: {
				text: that.txt.count.jinqitiantongji
			},
			subtitle: {
				text: publicAppName
			},
			xAxis: {
				categories: xz
			},
			yAxis: {
				title: {
					text: that.txt.symbol.ci
				}
			},
			plotOptions: {
				line: {
					dataLabels: {
						// 开启数据标签
						enabled: true
					},
					// 关闭鼠标跟踪，对应的提示框、点击事件会失效
					enableMouseTracking: true
				}
			},
			series: [
				{
					name: that.txt.count.jintian,
					data: yz
				}
			]
		});
		chart.setSize(winwidth, winwidth*(2/3));
	}
</script>
</html>
